{% extends 'base.html.twig' %}

{% block title 'Accueil'%}

{% block body %}
	<div class="w-75 m-auto">
		<header class="mb-5">
			<h1 class="my-5">Mes Tâches</h1>
			{{ form_start(form, {attr: { 'novalidate': true }}) }}
			<div class="row g-3">
				<div class="col-md-8">
					{{ form_label(form.search, null, {label_attr:  {'class': 'visually-hidden'}}) }}
					{{ form_widget(form.search, { attr:  {'class': 'form-control'}}) }}
				</div>
				<div class="col-2">
					<button class="btn btn-primary" type="submit">Recherche</button>
				</div>
			</div>
			{{ form_end(form) }}
		</header>

		<div
			class="row">
			{# Itérer sur les catégories pour affichage des groupes de cartes #}
			{% for category in categories %}
				<div class="col-md-3 mb-4">
					<div class="list-group w-auto">
						<div class="list-group-item d-flex gap-3 bg-light text-white fw-bold" style="background-color: {{ category.tagColor }} !important">

							<span class="pt-1 form-checked-content">
								<span contenteditable="true" class="w-100">{{ category.name }}</span>
							</span>
						</div>
						{# Itérer sur les tâches dans les catégories pour affichage dans les cartes #}
						{% for task in category.tasks %}
							{# tâche de l'utilisateur connecté #}
							{% if task.user == app.user %}
								<div class="list-group-item d-flex gap-3 justify-content-between">
									<span class="pt-1 form-checked-content">
										<strong>{{ task.name }}</strong>
										<small class="d-block text-muted">
											<i class="bi bi-calendar-event"></i>
											{{ task.closingDate | date('d/m/Y') }}
										</small>
									</span>
									<span class="align-self-center d-flex gap-3">
										<a href="{{ path('app_task_edit', {id: task.id}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
												<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
												<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
											</svg>
										</a>
										<a href="{{ path('app_task_delete', {id: task.id}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
											</svg>
										</a>
									</span>
								</div>
							{% endif %}
						{% endfor %}

						<div class="list-group-item d-flex gap-3 bg-light">
							<span class="pt-1 form-checked-content">
								<a href="{{path('app_task_create', {id: category.id})}}">
									<span contenteditable="true" class="w-100">Add new task...</span>
								</a>
								<small class="d-block text-muted">
									<svg class="bi me-1" width="1em" height="1em">
										<use xlink:href="#list-check"></use>
									</svg>
									Choose list...
								</small>
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
